<%-include('header')-%>
<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

<div class="text-center center-div mt-5" id="login">
    <div class="container border border-secondary rounded mt-5 py-5">
        <h3>Welcome To Dashboard</h3>
        <h5><%= email%></h5>
        <a href="/logout">Logout</a>
    </div>
</div>