<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%-include('header')-%>
    
  </head>
  <body class="d-flex justify-content-center align-items-center">
    
<div>
  <!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form action="/register" method="POST">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="text-center">
                    <p><%= title %></p>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1" class="form-control" />
                        <label class="form-label" for="form3Example1">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example2" class="form-control" />
                        <label class="form-label" for="form3Example2">Last name</label>
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input name="email" type="email" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Email address</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input name="password" type="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>
  
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign up
                  </button>
  
                </form>
              </div>
            </div>
        
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</div>
  </body>
  
</html>
